// Glancyr font
@font-face {
    font-family: 'Glancyr';
    src: url('../fonts/Glancyr/Glancyr-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Glancyr';
    src: url('../fonts/Glancyr/Glancyr-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Glancyr';
    src: url('../fonts/Glancyr/Glancyr-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Glancyr';
    src: url('../fonts/Glancyr/Glancyr-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Glancyr';
    src: url('../fonts/Glancyr/Glancyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Glancyr';
    src: url('../fonts/Glancyr/Glancyr-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Glancyr';
    src: url('../fonts/Glancyr/Glancyr-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Glancyr';
    src: url('../fonts/Glancyr/Glancyr-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Glancyr';
    src: url('../fonts/Glancyr/Glancyr-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Glancyr';
    src: url('../fonts/Glancyr/Glancyr-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Glancyr';
    src: url('../fonts/Glancyr/Glancyr-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Glancyr';
    src: url('../fonts/Glancyr/Glancyr-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Glancyr';
    src: url('../fonts/Glancyr/Glancyr-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Glancyr';
    src: url('../fonts/Glancyr/Glancyr-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}





//HelveticaNowDisplay font
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay/HelveticaNowDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay/HelveticaNowDisplay-BlackIta.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtBdIta.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay/HelveticaNowDisplay-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay/HelveticaNowDisplay-BoldIta.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtBlk.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtLtIta.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay/HelveticaNowDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay/HelveticaNowDisplay-MedIta.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay/HelveticaNowDisplay-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay/HelveticaNowDisplay-RegIta.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay/HelveticaNowDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay/HelveticaNowDisplay-LightIta.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtLt.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtLtIta.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay/HelveticaNowDisplay-Hairline.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay/HelveticaNowDisplay-HairlineI.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}





//Inter
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter_18pt-Black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter_18pt-BlackItalic.ttf') format('ttf');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter_18pt-ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter_18pt-ExtraBoldItalic.ttf') format('ttf');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter_18pt-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter_18pt-BoldItalic.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter_18pt-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter_28pt-SemiBoldItalic.ttf') format('ttf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter_18pt-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter_28pt-MediumItalic.ttf') format('ttf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter_18pt-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter_18pt-Italic.ttf') format('ttf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter_18pt-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter_18pt-LightItalic.ttf') format('ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter_18pt-ExtraLight.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter_18pt-ExtraLightItalic.ttf') format('ttf');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter_18pt-Thin.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter_28pt-ThinItalic.ttf') format('ttf');
    font-weight: 100;
    font-style: italic;
}





//Lufga
@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga/Fontspring-DEMO-lufga-black.otf') format('otf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga/Fontspring-DEMO-lufga-blackitalic.otf') format('otf');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga/Fontspring-DEMO-lufga-extrabold.otf') format('otf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga/Fontspring-DEMO-lufga-extrabolditalic.otf') format('otf');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga/Fontspring-DEMO-lufga-bold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga/Fontspring-DEMO-lufga-bolditalic.otf') format('otf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga/Fontspring-DEMO-lufga-semibold.otf') format('otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga/Fontspring-DEMO-lufga-semibolditalic.otf') format('otf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga/Fontspring-DEMO-lufga-medium.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga/Fontspring-DEMO-lufga-mediumitalic.otf') format('otf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga/Fontspring-DEMO-lufga-regular.otf') format('otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga/Fontspring-DEMO-lufga-italic.otf') format('otf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga/Fontspring-DEMO-lufga-light.otf') format('otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga/Fontspring-DEMO-lufga-lightitalic.otf') format('otf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga/Fontspring-DEMO-lufga-extralight.otf') format('otf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga/Fontspring-DEMO-lufga-extralightitalic.otf') format('otf');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga/Fontspring-DEMO-lufga-thin.otf') format('otf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga/Fontspring-DEMO-lufga-thinitalic.otf') format('otf');
    font-weight: 100;
    font-style: italic;
}




//Plus Jakarta Sans font
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans/static/PlusJakartaSans-ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans/static/PlusJakartaSans-ExtraBoldItalic.ttf') format('ttf');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans/static/PlusJakartaSans-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans/static/PlusJakartaSans-BoldItalic.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans/static/PlusJakartaSans-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans/static/PlusJakartaSans-SemiBoldItalic.ttf') format('ttf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans/static/PlusJakartaSans-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans/static/PlusJakartaSans-MediumItalic.ttf') format('ttf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans/static/PlusJakartaSans-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans/static/PlusJakartaSans-Italic.ttf') format('ttf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans/static/PlusJakartaSans-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans/static/PlusJakartaSans-LightItalic.ttf') format('ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans/static/PlusJakartaSans-ExtraLight.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans/static/PlusJakartaSans-ExtraLightItalic.ttf') format('ttf');
    font-weight: 200;
    font-style: italic;
}





//Urbanist
@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist/static/Urbanist-Black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist/static/Urbanist-BlackItalic.ttf') format('ttf');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist/static/Urbanist-ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist/static/Urbanist-ExtraBoldItalic.ttf') format('ttf');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist/static/Urbanist-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist/static/Urbanist-BoldItalic.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist/static/Urbanist-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist/static/Urbanist-SemiBoldItalic.ttf') format('ttf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist/static/Urbanist-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist/static/Urbanist-MediumItalic.ttf') format('ttf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist/static/Urbanist-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist/static/Urbanist-Italic.ttf') format('ttf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist/static/Urbanist-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist/static/Urbanist-LightItalic.ttf') format('ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist/static/Urbanist-ExtraLight.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist/static/Urbanist-ExtraLightItalic.ttf') format('ttf');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist/static/Urbanist-Thin.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist/static/Urbanist-ThinItalic.ttf') format('ttf');
    font-weight: 100;
    font-style: italic;
}