@mixin link-style($font-family, $weight, $size, $color, $radius, $padding, $width, ) {
  text-decoration: none;
  text-align: center;
  font-family: $font-family;
  font-weight: $weight;
  font-size: $size;
  color: $color;
  border-radius: $radius;
  padding: $padding;
  width: $width;
}

@mixin flexbox-style($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin font-style($family, $weight, $size, $color) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

@mixin block-style($width, $height, $radius, $padding, $margin, $bg-color){
  width: $width;
  height: $height;
  border-radius: $radius;
  padding: $padding;
  margin: $margin;
  background-color: $bg-color;
}