//background colors
$bg-white-color: #ffff;
$bg-smoke-color: #f2f4f7;
$bg-orange-color: #fd853a;

//font colors
$font-white-color: #ffff;
$font-smoke-color: #fcfcfd;
$font-black-color: #171717;
$font-grey-color: #344054;
$font-orange-color: #fd853a;


//fonts
$font-glancyr: 'Glancyr', sans-serif;
$font-helvetica-now-display: 'Helvetica Now Display', sans-serif;
$font-inter: 'Inter', sans-serif;
$font-lufga: 'Lufga', sans-serif;
$font-plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;
$font-urbanist: 'Urbanist', sans-serif;

//buttons
$btn-orange-color: #fd853a;
$btn-white-color: #ffff;