@import "base";
@import "components";
@import "variables";
@import "mixins";
@import "fonts";

body {
  margin: 0 auto;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin: 0 auto;
  @include flexbox-style(auto, center, center);
  max-width: 1440px;
  .container {
    @include block-style(auto, 86px, 50px, 0 10px, 40px 70px, #171717);
    @include flexbox-style(auto, space-between, center);
    backdrop-filter: blur(15px);
    a {
      @include link-style(
        $font-lufga,
        400,
        20px,
        $font-white-color,
        60px,
        20px 40px,
        136px
      );
    }

    .active {
      background-color: $bg-orange-color;
      font-weight: 700;
    }

    .logo {
      @include flexbox-style(auto, space-between, center);
      gap: 13px;
      img {
        @include block-style(46px, 46px, 50px, auto, auto, auto);
      }
      span {
        @include font-style($font-glancyr, 900, 28px, $font-white-color);
      }
    }
  }
}

main {
  max-width: 1440px;
  margin: 0 auto;
  .hero {
    position: relative;
    @include flexbox-style(column, space-between, stretch);
    height: fit-content;

    .container {
      padding: 37px 70px 0 70px;
      .hello {
        @include flexbox-style(column, space-between, center);
        gap: 10px;

        .top {
          position: relative;
          span {
            @include font-style($font-glancyr, 500, 20px, $font-black-color);
            @include block-style(
              auto,
              auto,
              38px,
              12px 25px,
              0,
              $bg-white-color
            );
            border: 1.27px solid #171717;
            text-align: center;
          }
          svg {
            position: absolute;
            left: 97%;
            top: -143%;
          }
        }

        .bottom {
          position: relative;
          h1 {
            @include font-style($font-urbanist, 600, 95px, $font-black-color);
            text-align: center;
            span {
              @include font-style(
                $font-urbanist,
                600,
                95px,
                $font-orange-color
              );
            }
          }

          svg {
            position: absolute;
            left: -8%;
            top: 85%;
          }
        }
      }

      .person {
        position: relative;
        transform: translateY(-15%);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;

        .quote {
          @include flexbox-style(column, space-between, baseline);
          gap: 24px;
          p {
            @include font-style($font-glancyr, 500, 20px, #344054);
          }
        }

        .experience {
          @include flexbox-style(column, space-between, flex-end);
          .stars {
            margin-bottom: 21px;
          }
          b {
            @include font-style($font-urbanist, 700, 47px, $font-black-color);
            margin-bottom: 5px;
          }
          span {
            @include font-style($font-glancyr, 400, 20px, $font-black-color);
          }
        }

        .image {
          @include flexbox-style(column, center, center);

          .btn {
            position: absolute;
            border: 1px solid rgba(255, 255, 255, 0.5);
            gap: 5px;
            inset-block-start: 80%;
            @include flexbox-style(row, center, center);
            @include block-style(
              max-content,
              auto,
              50px,
              10px,
              0,
              rgba(255, 255, 255, 0.1)
            );

            button {
              @include flexbox-style(row, center, center);
              @include block-style(
                auto,
                auto,
                60px,
                10px 20px,
                0,
                $bg-orange-color
              );
              @include font-style($font-glancyr, 500, 25px, $font-white-color);
              border: 0.5px solid #d0d5dd;
            }

            span {
              padding: 10px 20px;
              @include font-style($font-glancyr, 300, 25px, $font-white-color);
            }
          }

          .background {
            position: absolute;
            z-index: -1;
            inset-block-start: 36%;
          }
        }
      }
    }
  }

  .services {
    border-radius: 50px;
    background-color: #171717;
    background-image: url("../public/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transform: translateY(-15%);
    background-size: cover;

    .container {
      @include flexbox-style(column, space-between, stretch);
      padding: 0 70px 51px 70px;

      .title {
        @include flexbox-style(row, space-between, center);
        margin: 116px 0;

        span {
          @include font-style($font-glancyr, 500, 48px, $font-smoke-color);
          span {
            @include font-style($font-glancyr, 500, 48px, $font-orange-color);
          }
        }

        p {
          @include font-style($font-glancyr, 500, 20px, $font-white-color);
        }
      }

      .cards {
        @include flexbox-style(row, space-between, center);
        margin-bottom: 39px;

        .card {
          position: relative;
          @include block-style(
            auto,
            auto,
            35px,
            44px 0 0 0,
            0,
            rgba(255, 255, 255, 0.1)
          );
          border: 2px solid rgba(249, 250, 251, 0.3);

          span {
            @include font-style($font-glancyr, 500, 32px, $font-white-color);
            margin: 0 37px;
          }

          hr {
            margin: 23px 0 49px 0;
            height: 2px;
            border: none;
            background-color: rgba(249, 250, 251, 0.3);
          }

          img {
            border-radius: 35px;
            height: 307px;
          }

          button {
            position: absolute;
            top: 71%;
            left: 69%;
            border: none;
            border-radius: 75px 0 0 0;
            padding: 20px 0 0 20px;
            background: #171717;
            svg {
              @include block-style(auto, auto, 57px, 21px, auto, #1d2939);
            }
          }
        }
      }

      svg {
        margin: 0 auto;
      }
    }
  }

  .experience {
    margin-bottom: 155px;
    .container {
      @include flexbox-style(column, center, stretch);
      padding: 0 70px 51px 70px;

      .title {
        @include font-style($font-glancyr, 500, 64px, $font-grey-color);
        margin-bottom: 85px;
        text-align: center;
        span {
          color: $font-orange-color;
        }
      }

      div {
        @include flexbox-style(row, space-between, stretch);

        span {
          @include font-style($font-glancyr, 600, 40px, $font-grey-color);
        }

        div {
          @include flexbox-style(column, flex-start, baseline);
        }

        .col1 {
          gap: 102px;

          p {
            @include font-style($font-glancyr, 400, 24px, #98a2b3);
          }
        }

        .col3 {
          gap: 65px;

          p {
            @include font-style($font-glancyr, 500, 20px, #98a2b3);
          }
        }
      }
    }
  }

  .whyme {
    background-color: $bg-smoke-color;
    border-radius: 50px;

    .container {
      @include flexbox-style(row, center, stretch);
      padding: 80px 70px 103px 70px;

      .content {
        @include flexbox-style(column, center, stretch);
        gap: 47px;

        .title {
          @include font-style($font-glancyr, 600, 64px, $font-grey-color);
          span {
            color: $font-orange-color;
          }
        }

        p {
          @include font-style($font-glancyr, 400, 20px, #98a2b3);
        }

        .projects {
          @include flexbox-style(row, space-between, center);
          span {
            @include font-style($font-glancyr, 500, 36px, #1d2939);
          }
          p {
            @include font-style($font-glancyr, 400, 20px, #667085);
          }
        }

        button {
          @include block-style(auto, auto, 32px, 33px 59px, 0, $bg-smoke-color);
          border: 1px solid #151515;
          @include font-style($font-glancyr, 600, 32px, #151515);
          text-align: center;
          width: max-content;
        }
      }
    }
  }

  .portfolio {
    padding: 97px 70px;
    .container {
      .top {
        @include flexbox-style(row, space-between, center);

        span {
          @include font-style($font-glancyr, 600, 64px, $font-grey-color);
          span {
            color: $font-orange-color;
          }
        }
        button {
          border-radius: 60px;
          border: none;
          padding: 20px 40px;
          background-color: $bg-orange-color;
          @include font-style($font-glancyr, 700, 20px, $font-white-color);
        }
      }

      .portfolios {
        @include flexbox-style(column, space-between, stretch);
        margin: 48px 0;

        .cards {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 24px;

          div {
            @include flexbox-style(column, center, stretch);
            gap: 216px;
            border-radius: 20px;
            padding: 10px;
            background: linear-gradient(
                rgba(0, 0, 0, 0) 44%,
                rgba(0, 0, 0, 0.25) 83%,
                rgba(0, 0, 0, 0.5) 100%
              ),
              url("../public/design.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            button {
              text-align: end;
              border: none;
              background: transparent;
              svg {
                @include block-style(auto, auto, 60px, 15px, 0, transparent);
                border: 1px solid $bg-orange-color;
                margin: 0;
              }
            }

            span {
              @include font-style($font-glancyr, 700, 70px, #fffaf5);
            }
          }
        }

        svg {
          margin: 48px auto auto auto;
        }
      }

      .categories {
        @include flexbox-style(row, center, center);
        gap: 14px;

        span {
          border-radius: 25px;
          padding: 15px 32px;
          background-color: $bg-smoke-color;
          @include font-style($font-inter, 400, 20px, $font-black-color);
        }
      }

      .text {
        margin-top: 48px;
        @include flexbox-style(column, center, center);
        gap: 24px;

        .top {
          @include flexbox-style(row, center, center);
          gap: 18px;

          span {
            @include font-style($font-glancyr, 700, 48px, $font-grey-color);
          }

          button {
            border: none;
            border-radius: 60px;
            padding: 12px;
            background-color: $bg-orange-color;
            display: flex;
            align-items: center;
          }
        }

        p {
          @include font-style($font-glancyr, 400, 20px, $font-grey-color);
          text-align: center;
        }
      }
    }
  }

  .testimonials {
    background: linear-gradient(rgba(0, 0, 0, 0.75)),
      url("../public/abstract-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 116px 70px;
    border-radius: 50px;

    .container {
      @include flexbox-style(column, center, center);
      gap: 96px;

      .text {
        @include flexbox-style(column, center, center);
        gap: 14px;

        .title {
          position: relative;
          @include font-style($font-glancyr, 500, 48px, $font-smoke-color);
          text-align: center;

          span {
            color: $font-orange-color;
          }
          svg {
            position: absolute;
            transform: translateY(-230%) translateX(-100%);
          }
        }

        .desc {
          text-align: center;
          @include font-style($font-glancyr, 400, 20px, #f9fafb);
          position: relative;

          .star1 {
            position: absolute;
            transform: translateY(-30px) translateX(410px);
          }
          .star2 {
            position: absolute;
            transform: translateY(5px) translateX(-380px);
          }
        }
      }

      .cards {
        @include flexbox-style(row, center, center);
        gap: 24px;

        .card {
          @include flexbox-style(column, center, center);
          gap: 14px;
          width: max-content;
          border-radius: 24px;
          padding: 21px;
          background: rgba(255, 255, 255, 0.14);
          border: 0.5px solid silver;

          .top {
            @include flexbox-style(row, center, center);
            gap: 419px;

            .info {
              @include flexbox-style(column, center, flex-start);
              gap: 14px;

              .title {
                @include flexbox-style(row, center, center);
                gap: 12px;

                .name {
                  @include flexbox-style(column, center, baseline);
                  span {
                    @include font-style(
                      $font-urbanist,
                      700,
                      23px,
                      $font-smoke-color
                    );
                  }
                  p {
                    @include font-style(
                      $font-urbanist,
                      400,
                      18px,
                      $font-smoke-color
                    );
                  }
                }
              }

              .stars {
                @include flexbox-style(row, center, baseline);
                gap: 5px;
                div {
                  @include flexbox-style(row, center, center);
                }
                span {
                  @include font-style(
                    $font-glancyr,
                    500,
                    25px,
                    $font-smoke-color
                  );
                }
              }
            }
          }

          p {
            @include font-style($font-glancyr, 400, 20px, #f9fafb);
          }
        }
      }
    }
  }

  .discuss {
    .container {
      .top {
        @include flexbox-style(column, stretch, center);
        gap: 10px;
        padding: 98px 0;

        .title {
          @include font-style($font-glancyr, 600, 64px, $font-grey-color);
          text-align: center;
          span {
            color: $font-orange-color;
          }
        }

        .input {
          @include flexbox-style(row, stretch, center);
          border: 1px solid #e4e7ec;
          border-radius: 50px;
          padding: 14px;
          gap: 17px;

          .icon {
            border-radius: 50px;
            padding: 15px;
            background: #ffead5;

            svg {
              margin: 0;
            }
          }

          input {
            border: none;
            @include font-style($font-urbanist, 500, 20px, $font-black-color);
            width: 650px;
          }

          button {
            border-radius: 60px;
            padding: 20px 40px;
            background-color: $bg-orange-color;
            border: none;
            @include font-style($font-urbanist, 500, 20px, $font-white-color);
          }
        }

        .awards {
          @include flexbox-style(row, center, center);
          gap: 93px;

          div {
            @include flexbox-style(row, flex-start, flex-end);
            gap: 5px;

            span {
              @include font-style($font-glancyr, 400, 16px, $font-black-color);
            }
          }
        }
      }

      .banner {
        background-color: #fb6514;
        border-radius: 24px 0;
        padding: 36px 0;

        .content {
          @include flexbox-style(row, center, center);
          padding: 12px 0;
          gap: 12px;
          background-color: $bg-white-color;
          transform: rotate(-2deg);
          span {
            @include font-style($font-glancyr, 400, 48px, $font-black-color);
          }
        }
      }
    }
  }

  .posts {
    padding: 97px 70px;
    .container {
      @include flexbox-style(column, center, stretch);
      gap: 48px;

      .top {
        @include flexbox-style(row, space-between, center);

        b {
          @include font-style($font-glancyr, 700, 48px, $font-grey-color);
        }
        button {
          border-radius: 60px;
          padding: 20px 40px;
          border: none;
          background-color: $bg-orange-color;
          @include font-style($font-glancyr, 700, 20px, $font-white-color);
        }
      }

      .cards {
        @include flexbox-style(row, stretch, stretch);
        gap: 25px;

        .card {
          @include flexbox-style(column, stretch, baseline);
          gap: 35px;

          .img {
            position: relative;

            button {
              position: absolute;
              top: 76%;
              left: 72%;
              border: none;
              background: transparent;
              svg {
                @include block-style(auto, auto, 57px, 21px, auto, #1d2939);
              }
            }
          }

          .theme{
            border-radius: 24px;
            padding: 15px 32px;
            background-color: #f2f4f7;
            @include font-style($font-inter, 400, 20px, $font-black-color);
          }

          .info{
            @include flexbox-style(row, space-between, center);
            gap: 35px;

            div{
              @include flexbox-style(row, space-between, center);
              @include font-style($font-inter, 400, 20px, $font-grey-color);
              gap: 10px;
            }
          }

          .title{
            @include font-style($font-glancyr, 400, 32px, $font-grey-color);
          }
        }
      }
    }
  }
}

footer {
  @include block-style(auto, auto, 24px 24px 0 0, 25px 70px, 0 auto, #272727);
  max-height: 685px;
  max-width: 1440px;

  .container {
    @include flexbox-style(column, space-between, auto);
    .hire {
      margin: 44px 0;
      @include flexbox-style(row, space-between, center);
      span {
        @include font-style($font-lufga, 600, 64px, $font-smoke-color);
      }
      a {
        background-color: $bg-orange-color;
        width: max-content;
        @include flexbox-style(row, center, center);
        @include link-style(
          $font-lufga,
          500,
          25px,
          $font-white-color,
          60px,
          10px 20px,
          auto
        );
      }
    }

    .line {
      margin: 0;
    }

    .middle {
      @include block-style(auto, 239px, auto, auto, 55px 0, auto);
      @include flexbox-style(auto, space-between, auto);
      .col1 {
        @include flexbox-style(column, space-between, baseline);
        .logo {
          @include flexbox-style(auto, auto, center);
          gap: 13px;
          img {
            @include block-style(46px, 46px, 50px, auto, auto, auto);
          }
          span {
            @include font-style($font-glancyr, 900, 28px, $font-white-color);
          }
        }

        p {
          @include font-style($font-glancyr, 400, 20px, $font-smoke-color);
        }

        .icons {
          @include flexbox-style(auto, auto, center);
          width: 24px;
          height: 24px;
          gap: 5px;
        }
      }
      .col2 {
        @include flexbox-style(column, space-between, baseline);
        b {
          @include font-style($font-glancyr, 600, 20px, $font-orange-color);
        }
        a {
          @include font-style($font-glancyr, 400, 16px, $font-smoke-color);
          text-decoration: none;
        }
      }
      .col3 {
        @include flexbox-style(column, space-between, baseline);
        height: 157px;
        b {
          @include font-style($font-glancyr, 600, 20px, $font-orange-color);
        }
        a {
          @include font-style($font-glancyr, 400, 16px, $font-smoke-color);
          text-decoration: none;
        }
      }
      .col4 {
        @include flexbox-style(column, space-between, baseline);
        height: 105px;
        b {
          @include font-style($font-glancyr, 600, 20px, $font-orange-color);
        }
        form {
          @include flexbox-style(auto, auto, center);
          @include block-style(304px, 51px, auto, auto, auto, auto);
          input {
            @include block-style(
              max-content,
              auto,
              14px 0 0 14px,
              16px 14px,
              0,
              $bg-white-color
            );
            border: none;
          }
          button {
            @include block-style(
              auto,
              auto,
              0 14px 14px 0,
              10px 8px,
              0,
              $bg-orange-color
            );
            border: none;
          }
        }
      }
    }

    .bottom {
      @include flexbox-style(auto, space-between, center);
      @include font-style($font-glancyr, 400, 20px, $font-white-color);
      margin: 55px 0 0 0;
    }
  }
}
